header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-escuro);
    padding: 14px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 768px;
    z-index: 9000;
    
}

#menu{
    display: flex;
    justify-content: space-between;
}

.btn-menu{
    background-color: var(--color-escuro);
    color: var(--color-green-cl);
    font-size: clamp(16px, 6vw, 40px);
    border: none;
}

.menu-user-info{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
#menu span{
    color: #fff;
    font-size: clamp(14px, 3vw, 24px);
    font-weight: 500;
}

#menu .text-span{
    font-size: clamp(12px, 2vw, 16px);
    color: var(--color-gray);
}

#notificacao{
    color: var(--color-gray);
    font-size: clamp(14px, 5vw, 35px);
    font-weight: none;
    padding: 10px;
}

@media (min-width: 500px) {
    #menu span{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

#menu .text-span{
    font-size: 20px;
    color: var(--color-gray);
}
}