#sidebar-bottom{
    background-color: var(--color-escuro);
    max-width: 768px;
    width: 100%;
    padding: clamp(10px, 2.5vw, 14px);
    border-top: 1px solid var(--color-gray-transp);
    
    position: fixed;     
    bottom: 0;  
    left: 50%;
  
    transform: translate(-50%);
    z-index: 9000;
}

#side-bottom-contents{
    padding: 0 10px;
}

#side-bottom-itens{
    display: flex;
    justify-content: center;
    list-style: none;
}

.side-bottom-item{
    padding: clamp(5px, 2vw, 16px);
    cursor: pointer;
    border-radius: 50%;
}

.side-bottom-item.active{
    background-color: var(--color-green-select);
}

.side-bottom-item a{
    display: flex;
    text-decoration: none;
    font-size: clamp(10px, 3vw, 20px);
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
    padding: clamp(5px, 2.5vw, 18px);
}

.side-bottom-item a i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(18px, 3vw, 40px);
    width: 20px;
    height: 20px;
    color: var(--color-gray);
}