#sidebar-top{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-escuro-n);
    max-width: 260px;
    padding: 8px;
    
    position: fixed;     
    top: 0;             
    left: 0;            

    transform: translateX(-100%);   
    transition: transform .35s ease; 

    z-index: 1000;
}

#sidebar-top.active{
    transform: translateX(0);
}

.overlay{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.45);

    opacity: 0;
    visibility: hidden;

    transition: .3s ease;

    z-index: 1000;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}

#sidebar-content-top{
    padding: 12px;
}

#user{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 24px;
}

#user-avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-info{
    display: flex;
    flex-direction: column;
}

.user-info span:first-child{
    color: var(--color-white);
    font-size: clamp(16px, 3vw, 24px);
}

.user-info span:last-child{
    color: var(--color-gray);
    font-size: clamp(12px, 2.5vw, 16px);
}

#side-top-itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

.side-top-item{
    padding: clamp(10px, 2vw, 12px);
    border-radius: 8px;
    cursor: pointer;
}

.side-top-item.active{
    background-color: var(--color-green-select);
}

.side-top-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: clamp(12px, 3vw, 20px);
}

.side-top-item a i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: var(--color-green-cl);
}

#logout{
    border-top: 1px solid var(--color-gray-transp);
    padding: 12px;
}

#logout-btn{
    color: var(--color-white);
    font-size: clamp(14px, 2vw, 24px);
    text-decoration: none;
    border: none;
    padding: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#logout-btn:active{
    background-color: var(--color-green-select);
}

#logout-btn i{
    color: var(--color-green-cl);
    font-size: clamp(14px, 3vw, 20px);
}

#logout-btn span{
    font-size: clamp(12px, 3vw, 18px);
}

